<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
           
    <context:component-scan base-package="org.jas" />
    <util:properties id="properties" location="file:src/main/resources/config/jmetadata.properties"/>
	
	<bean class="org.asmatron.messengine.engines.DefaultEngine" id="applicationEngine" />
	<bean class="org.asmatron.messengine.engines.support.ViewEngineConfigurator" id="viewEngineConfigurator">
		<constructor-arg ref="applicationEngine" />
	</bean>
	<bean class="org.asmatron.messengine.engines.support.ControlEngineConfigurator" id="controlEngineConfigurator">
		<constructor-arg ref="applicationEngine" />
	</bean>
	<bean class="org.asmatron.messengine.engines.support.spring.SpringAppControlAutoConfigurerBeanPostProcessor">
		<constructor-arg ref="applicationEngine" />
	</bean>
	
	<bean id="loginWindow" class="org.jas.gui.LoginWindow" />
	<bean id="mainWindow" class="org.jas.gui.MainWindow" />
	
</beans>